h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.parent-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    background-color: #292f30;
    padding: 50px;
    border-style:inset;
    border-color:black;
}
.white{
    background-color: white;
    padding: 50px;
    border-style: inset;
    border-color:black;
}