body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }



.parent-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
.black{
    background-color: #000000;
    padding: 50px;
    border-style:inset;
    border-color:black;
}
.white{
    background-color: white;
    padding: 50px;
    border-style: inset;
    border-color:black;
}